@page "/admin/employee-manager/add"
@page "/admin/employee-manager/edit/{EmployeeManagerId:guid?}"
@rendermode InteractiveServer
@implements IDisposable
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager Navigation

<PageTitle>Employee Manager @(IsAdd ? "Add" : "Edit")</PageTitle>

@if (EmployeeManager is null && !Busy && !IsAdd)
{
  <p>Could not find Employee Manager with id @EmployeeManagerId.</p>
}
else
{
    @* EmulatorList="EmulatorList" *@
  <EmployeeManagerForm
    EmployeeList="EmployeeList"
    ManagerList="ManagerList"
    Busy="Busy" 
    CancelRequest="Cancel"
    DbEmployeeManager="DbEmployeeManager" 
    EmployeeManager="EmployeeManager" 
    IsAdd="IsAdd"
    ValidationResult="@(async (success) => await ValidationResultAsync(success))"
  />
}

@if (Error)
{
  <br />
  <div class="alert alert-danger">Failed to @(IsAdd ? "add" : "update") the Employee Manager (@ErrorMessage).</div>
}

@code {
  [Parameter]
  public Guid? EmployeeManagerId { get; set; }

  private bool IsAdd => EmployeeManagerId == null;

  private ApplicationDbContext? Context { get; set; }

  private EmployeeManager? EmployeeManager { get; set; }

  private EmployeeManager DbEmployeeManager { get; set; } = new EmployeeManager();

  private List<Employee> EmployeeList { get; set; } = new List<Employee>();
  private List<Employee> ManagerList { get; set; } = new List<Employee>();
  @* ListDeclarationCodePlaceholder *@
  @* private List<Emulator> EmulatorList { get; set; } = new List<Emulator>();*@

  private bool Busy;

  private bool Error;

  private string ErrorMessage = string.Empty;

  protected override async Task OnInitializedAsync()
  {
    Busy = true;

    try
    {
      Context = DbFactory.CreateDbContext();

      if (Context.Employees != null)
      {
        EmployeeList = await Context.Employees.ToListAsync();
      }
      if (Context.Employees != null)
      {
        ManagerList = await Context.Employees.ToListAsync();
      }
      @* LoadListCodePlaceholder *@
      @* if (Context.Emulators != null)
      {
        EmulatorList = await Context.Emulators.OrderBy(e => e.Name).ToListAsync();
      } *@

      if (IsAdd)
      {
        EmployeeManager = new();
      }
      else if (Context is not null && Context.EmployeeManagers is not null)
      {
        var employeeManager = await Context.EmployeeManagers
            .Include(x => x.Employee)
            .Include(x => x.Manager)
            @* IncludeListCodePlaceholder *@
            @* .Include(e => e.Emulator) *@
            .SingleOrDefaultAsync(x => x.Id == EmployeeManagerId);

        if (employeeManager is not null)
        {
          EmployeeManager = employeeManager;
        }
      }
    }
    finally
    {
      Busy = false;
    }
  }

  private async Task ValidationResultAsync(bool success)
  {
    if (Busy)
    {
      return;
    }

    if (!success)
    {
      Error = false;
      return;
    }

    Busy = true;

    try
    {
      if (Context is not null && EmployeeManager is not null)
      {
        @* SetExistingCodePlaceholder *@
        @* if (EmployeeManager.Emulator != null && EmployeeManager.Emulator.Id != Guid.Empty)
        {
          var existingEmulator = await Context.Emulators.FindAsync(EmployeeManager.Emulator.Id);
          if (existingEmulator != null)
          {
            EmployeeManager.Emulator = existingEmulator;
          }
        } *@
        
        if (IsAdd && Context.EmployeeManagers != null)
        {
          Context.EmployeeManagers.Add(EmployeeManager);
        }
        
        await Context.SaveChangesAsync();
      }

      Navigation.NavigateTo($"/admin/employee-manager/view/{EmployeeManager?.Id}");
    }
    catch (DbUpdateConcurrencyException dbex)
    {
      var dbValues = dbex.Entries[0].GetDatabaseValues();

      if (dbValues is null)
      {
        Navigation.NavigateTo($"/admin/employee-manager/view/{EmployeeManager?.Id}");
        return;
      }

      DbEmployeeManager = (EmployeeManager)dbValues.ToObject();

      dbex.Entries[0].OriginalValues.SetValues(dbValues);
      Error = false;
      Busy = false;
    }
    catch (Exception ex)
    {
      Error = true;
      ErrorMessage = ex.Message;
      Busy = false;
    }
  }

  private void Cancel()
  {
    Busy = true;
    Navigation.NavigateTo($"/admin/employee-manager");
  }

  public void Dispose() => Context?.Dispose();
}
